/*#region Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@font-face {
    font-family: 'Univers';
    src: url(Assets/fonts/univers/UniversRegular.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversBold.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversCnBold.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversCnRg.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversLight.ttf) format('truetype');
}
@font-face {
    font-family: 'MaisonNeue Black';
    src: url(Assets/fonts/maison-neue/MaisonNeueBlack.otf) format('opentype');
}
@font-face {
    font-family: 'MaisonNeue Medium';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedMedium.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Demibold';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedDemi.otf) format('opentype'); 
}
/*#endregion import */


/*#region Variables */
:root {
    /*Font Suggestions 
        V1.0:
        Intro - 40/Libre Baskerville
        Header - 18/Maison Neue Medium
        Primary - 15/Poppins
        HeadQuote - 95/Maison Neue Black
        SectionTag - 70/Maison Neue Demibold
        Timeline - 40/Poppins
    */

    --ff-univers: 'Univers', sans-serif;
    --ff-libre-bask: "Libre Baskerville", serif;
    --ff-maison_med: 'MaisonNeue Medium', sans-serif;
    --ff-poppins: "Poppins", sans-serif;
    --ff-maison_black: 'MaisonNeue Black', sans-serif;
    --ff-maison_demi: 'MaisonNeue Demibold', sans-serif;
    --ff-IBM: "IBM Plex Sans", sans-serif;
    --ff-newsreader: "Newsreader", serif;


    /*Main Background*/
    --clr-main-bg-01: #ffffff;

    /* Gradient */
    --clr-gr-1: #dbdae1;
    --clr-gr-2: #a3aaba;

    --clr-percent-bg: #555;


    /*#region Design Colors*/
        --clr-highlight: #007bff;  
        --clr-highlight-2: #0056b3;  
        --clr-highlight-3: #6f42c1; 
        --clr-highlight-4: #00c49a;
        --clr-highlight-5: #004080; 

    /*#endregion Design Colors*/
    
    /*#region Font Color Palette */
    --clr-primary: #fff;
    --clr-secondary: #F0F0F0;
    --clr-accent: #333333;
    --clr-text: #000000;
    /*#endregion Font Color Palette */


/*#endregion Variables */

}

html {
    scroll-behavior: smooth;
}

/*#region Global */
body {
    background-color: var(--clr-main-bg-01);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*#endregion Global */


/*#region Header */
.head_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: var(--clr-primary);
}

.head_cont .head_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22rem;
    margin-right: 10rem;
    gap: 5rem;
}

.head_cont .head_content .head_logo #head_logo_img {
    width: 62px;
    height: 74px;
    padding: 1rem;
    margin-left: 3rem;
}

.head_cont .head_content .head_navlinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.head_cont .head_content .head_navlinks a {
    font-family: var(--ff-maison_med);
    font-style: normal;
    text-decoration: none;
    color: var(--clr-accent);
}

.head_cont .head_content .head_navlinks #home_nav:hover {
    text-decoration: line-through;
    color: var(--clr-highlight);
}
.head_cont .head_content .head_navlinks #about_nav:hover {
    text-decoration: line-through;
    color: var(--clr-highlight);
}
.head_cont .head_content .head_navlinks #exp_nav:hover {
    text-decoration: line-through;
    color: var(--clr-highlight);
}
.head_cont .head_content .head_navlinks #folio_nav:hover {
    text-decoration: line-through;
    color: var(--clr-highlight);
}
.head_cont .head_content .head_navlinks #contact_nav:hover {
    text-decoration: line-through;
    color: var(--clr-highlight);
}

.head_cont .head_content .head_navlinks_2 .head_teleprompt_but {
    font-family: var(--ff-maison_med);
    text-decoration: none;
    color: var(--clr-accent);
}

.head_cont .head_content .head_navlinks_2 .head_teleprompt_but:hover {
    color: var(--clr-highlight);
}


.head_cont .head_content .head_navlinks_2 .head_teleprompt_but .scrolling-text-container {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px black solid;
    padding: 10px;
    border-radius: 20px;
}

.head_cont .head_content .head_navlinks_2 .head_teleprompt_but .scrolling-text-container .scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 4s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*#endregion Header */


/*#region Main */
.main_cont .main_content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main_cont .main_content .main_quote h1 {
    font-family: var(--ff-maison_black);
    font-size: 95px;
    color: var(--clr-accent);
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 20px;
}


.main_cont .main_content .main_quote h1 #quote_1:hover {
    color: var(--clr-highlight);
}
.main_cont .main_content .main_quote h1 #quote_2:hover {
    color: var(--clr-highlight-2);
}
.main_cont .main_content .main_quote h1 #quote_3:hover {
    color: var(--clr-highlight-3);
}
.main_cont .main_content .main_quote h1 #quote_4:hover {
    color: var(--clr-highlight-4);
}
.main_cont .main_content .main_quote h1 #quote_5:hover {
    color: var(--clr-highlight-5);
}

.main_cont .main_content .main_intro .intro_cont{
    max-width: 1100px; 
}

.main_cont .main_content .main_intro .intro_cont h2 {
    font-family: var(--ff-libre-bask);
    font-weight: 400;
    font-style: normal;
    color: var(--clr-accent);
    font-size: 40px;
}

.main_cont .main_content .main_intro .intro_cont p {
    font-family: var(--ff-poppins);
    color: var(--clr-accent);
    font-size: 20px;
    width: 100%;
}
/*#endregion Main */


/*#region About */
.about_cont {
    padding-top: 1rem;
    margin-left: 8rem; 
    margin-right: 8rem;
}


.about_cont .about_content .about_header #about_head {
    font-family: var(--ff-maison_demi);
    color: var(--clr-accent);
    font-size: 50px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.about_cont .about_content .about_header #about_head:hover {
    color: var(--clr-highlight);
}

.about_cont .about_content .about_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about_cont .about_content .about_info .left_col {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-left: 5rem;
}

.about_cont .about_content .about_info .left_col h2 {
    font-family: var(--ff-libre-bask);
    font-weight: 400;
    font-style: normal;
    color: var(--clr-accent);
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 2rem; 
}

.about_cont .about_content .about_info .left_col h1 {
    font-family: var(--ff-newsreader);
    font-weight: 600;
    font-style: normal;
    color: var(--clr-accent);
    font-size: 80px;
    width: 671px;
    height: 148px;
    margin-top: 40px;
    margin-left: 2rem; 
}

.about_cont .about_content .about_info .left_col h1 #visionary:hover {
    color: var(--clr-highlight);
}

.about_gal {
    padding-top: 5px;
    margin-left: 2rem; 
    margin-bottom: 8rem;
    max-width: 800px;
}

.about_gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(24, 3vw);
    grid-gap: 5px;
}

.about_gallery .about_images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1100;
}

.about_gallery #gal_img_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
.about_gallery #gal_img_2 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.about_gallery #gal_img_3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 12;
}
.about_gallery #gal_img_4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 12;
}
.about_gallery #gal_img_5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 18;
}
.about_gallery #gal_img_6 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 18;
}
.about_gallery #gal_img_7 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 18;
    grid-row-end: 24;
}
.about_gallery #gal_img_8 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 18;
    grid-row-end: 24;
} 


.about_cont .about_content .about_info .right_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 1300px;
    margin-right: 5rem;
}

.about_cont .about_content .about_info .right_col h3 {
    font-family: var(--ff-maison_demi);
    color: var(--clr-accent);
    font-size: 35px;
    width: 500px;
    text-align: right;
}

.about_cont .about_content .about_info .right_col p {
    font-family: var(--ff-poppins);
    color: var(--clr-accent);
    font-size: 15px;
    font-style: normal;
    text-align: right;
    max-width: 500px;
}

.about_cont .about_content .about_info .right_col .about_social {
    padding-top: 5px;
    margin-left: 2rem; 
    margin-bottom: 8rem;
    width: 100%;
}

.about_cont .about_content .about_info .right_col .about_social .about_soc {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2rem;
}

.about_cont .about_content .about_info .right_col .about_social .about_soc .social_media img {
    width: 53px;
    height: 50px;
    object-fit: contain;
    position: relative;
    z-index: 1100;
    border-radius: 10rem;
    margin-top: 2rem;
}
/*#endregion About */


/*#region Experience */
.exp_cont {
    margin-bottom: 10rem;    
}


.exp_cont .exp_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.exp_cont .exp_content .exp_header #exp_head {
    font-family: var(--ff-maison_demi);
    color: var(--clr-accent);
    font-size: 50px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.exp_cont .exp_content .exp_header #exp_head:hover {
    color: var(--clr-highlight);
}


/* EDUCATION */
.exp_cont .exp_content .exp_educ {
    display: flex;
    flex-direction: column;
    width: 1000px
}


.exp_cont .exp_content .exp_educ #educ_label {
    font-family: var(--ff-maison_demi);
    font-size: 35px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_educ .educ_timeline {
    padding-left: 5rem;
}

.exp_cont .exp_content .exp_educ .educ_timeline .educ_info {
    display: flex;
    flex-direction: row;
}


.exp_cont .exp_content .exp_educ .educ_timeline .educ_info .tl_year {
    border-right: 4px solid var(--clr-accent);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp_cont .exp_content .exp_educ .educ_timeline .educ_info .tl_year::after {
    border: 10px solid var(--clr-accent);
    border-radius: 10rem;
}

.exp_cont .exp_content .exp_educ .educ_timeline #tl_year_1 {
    font-family: var(--ff-maison_demi);
    font-size: 25px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_educ .educ_timeline .educ_info .school_info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.exp_cont .exp_content .exp_educ .educ_timeline .educ_info .school_info h4 { 
    font-family: var(--ff-maison_demi);
    font-size: 25px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_educ .educ_timeline .educ_info .school_info p {
    margin-top: 0;
    font-family: var(--ff-univers);
    font-size: 20px;
    font-style: normal;
    color: var(--clr-accent);
}


/* PROGRESSIONS */
.exp_cont .exp_content .exp_progressions {
    display: flex;
    flex-direction: column;
    width: 1000px
}


.exp_cont .exp_content .exp_progressions #progress_label {
    font-family: var(--ff-maison_demi);
    font-size: 35px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_progressions .progress_timeline {
    padding-left: 5rem;
}

.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info {
    display: flex;
    flex-direction: row;
} 


.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info .prog_year {
    border-right: 4px solid var(--clr-accent);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info .prog_year::after {
    border: 10px solid var(--clr-accent);
    border-radius: 10rem;
}


.exp_cont .exp_content .exp_progressions .progress_timeline #prog_year {
    font-family: var(--ff-maison_demi);
    font-size: 25px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info .prog_info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info .prog_info h4 { 
    font-family: var(--ff-maison_demi);
    font-size: 25px;
    font-style: normal;
    color: var(--clr-accent);
}


.exp_cont .exp_content .exp_progressions .progress_timeline .progress_info .prog_info ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 0.7rem;
    font-family: var(--ff-univers);
    font-size: 20px;
    color: var(--clr-accent);
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}


/* CODING SKILLS */
.exp_cont .exp_content .exp_code_skill{
    display: flex;
    flex-direction: column;
    width: 1000px
}


.exp_cont .exp_content .exp_code_skill #codeskill_label {
    font-family: var(--ff-maison_demi);
    font-size: 35px;
    font-style: normal;
    color: var(--clr-accent);
}

    /*#region CodeSkill Progress Bars */
.codeskill_bars {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-maison_demi);
}

.codeskill_bars .cskill_cont {
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: (40, 3vw);
    grid-gap: 2rem; 
}


.codeskill_bars .cskill_cont .cskill_box {
    width: 300px;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1100;
}

.codeskill_bars .cskill_cont #cskill_box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.codeskill_bars .cskill_cont #cskill_box-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.codeskill_bars .cskill_cont #cskill_box-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.codeskill_bars .cskill_cont #cskill_box-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 10;
}
.codeskill_bars .cskill_cont #cskill_box-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 10;
}
.codeskill_bars .cskill_cont #cskill_box-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
}

.codeskill_bars .cskill_cont .cskill_box .cskill_content {
    width: 100%;
    height: 100%;
    background: linear-gradient( var(--clr-gr-1), var(--clr-gr-2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.codeskill_bars .cskill_cont .cskill_box .cskill_content:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
}


.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent {
    position: relative;
    width: 150px;
    height: 150px;
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: var(--clr-percent-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}


.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent svg circle:nth-child(2) {
    stroke: var(--clr-accent);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent .cskill_dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}
  
@keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .percent .cskill_dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: var(--clr-accent);
    border-radius: 50%;
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .cskill_label {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .cskill_label h2 {
    font-size: 2.5rem;
    color: var(--clr-accent);
    text-align: center;
}
  
.codeskill_bars .cskill_cont .cskill_box .cskill_content .cskill_label h2 span {
    font-weight: 300;
    font-size: 1.5rem;
}

.codeskill_bars .cskill_cont .cskill_box .cskill_content .cskill_label h2:hover{
    color: var(--clr-primary);
}
    /*#endregion CodeSkill Progress Bars */


/* PROFESSIONAL SKILLS */
.exp_cont .exp_content .exp_prof_skill {
    display: flex;
    flex-direction: column;
    width: 1000px
}


.exp_cont .exp_content .exp_prof_skill #profskill_label {
    font-family: var(--ff-maison_demi);
    font-size: 35px;
    font-style: normal;
    color: var(--clr-accent);
}

    /*#region ProfessionalSkill Progress Bars */
.profskill_bars {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-maison_demi);
}

.profskill_bars .pskill_cont {
    max-width: 100%;
    min-height: 180vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: (40, 3vw);
    grid-gap: 2rem; 
}


.profskill_bars .pskill_cont .pskill_box {
    width: 300px;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1100;
}

.profskill_bars .pskill_cont #pskill_box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.profskill_bars .pskill_cont #pskill_box-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.profskill_bars .pskill_cont #pskill_box-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.profskill_bars .pskill_cont #pskill_box-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 10;
}
.profskill_bars .pskill_cont #pskill_box-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 10;
}
.profskill_bars .pskill_cont #pskill_box-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 10;
}
.profskill_bars .pskill_cont #pskill_box-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 15;
}
.profskill_bars .pskill_cont #pskill_box-8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 15;
}
.profskill_bars .pskill_cont #pskill_box-9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 15;
}

.profskill_bars .pskill_cont .pskill_box .pskill_content {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient( var(--clr-gr-1), var(--clr-gr-2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}


.profskill_bars .pskill_cont .pskill_box .pskill_content:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
}
  

.profskill_bars .pskill_cont .pskill_box .pskill_content .percent {
    position: relative;
    width: 150px;
    height: 150px;
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: var(--clr-percent-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

  
.profskill_bars .pskill_cont .pskill_box .pskill_content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}


.profskill_bars .pskill_cont .pskill_box .pskill_content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .percent svg circle:nth-child(2) {
    stroke: var(--clr-accent);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .percent .pskill_dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}
  
@keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .percent .pskill_dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: var(--clr-accent);
    border-radius: 50%;
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .pskill_label {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
  
.profskill_bars .pskill_cont .pskill_box .pskill_content .pskill_label h2 {
    font-size: 25px;
    color: var(--clr-accent);
    text-align: center;
    word-spacing: 0;
    width: 200px;
    margin-top: 2rem;
}


.profskill_bars .pskill_cont .pskill_box .pskill_content .pskill_label h2:hover {
    color: var(--clr-primary);
}
    /*#endregion ProfessionalSkill Progress Bars */
/*#endregion Experience */


/*#region Portfolio */
.port_cont {
    margin-bottom: 10rem;    
}


.port_cont .port_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.port_cont .port_content .port_header #port_head {
    font-family: var(--ff-maison_demi);
    color: var(--clr-accent);
    font-size: 50px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.port_cont .port_content .port_header #port_head:hover {
    color: var(--clr-highlight);
}


.port_cont .port_content #port_web {
    font-family: var(--ff-univers);
    font-size: 30px;
    color: var(--clr-accent);
    margin-bottom: 5rem;
}


.port_cont .port_content .port_showcase .port_box {
    display: grid;
    grid-template-columns: repeat (20, 1fr);
    grid-template-rows: repeat (40, 10vw);
    grid-gap: 68px;
}


.port_cont .port_content .port_showcase .port_box img {
    width: 600px;
    height: 350px;
    object-fit: fill;
    position: relative;
    z-index: 1100;
    transition: transform .2s;
    border: 4px var(--clr-text) solid; 
    border-radius: 10px;
}

.port_cont .port_content .port_showcase .port_box img:hover {
    transform: scale(1.2);
}


.port_cont .port_content .port_showcase .port_box .port_box-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.port_cont .port_content .port_showcase .port_box .port_box-label h3 {
    border: 3px solid var(--clr-accent);
    width: 440px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--clr-secondary);
    font-family: var(--ff-IBM);
    color: var(--clr-accent);
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.port_cont .port_content .port_showcase .port_box .port_box-label a {
    text-decoration: none;
}

.port_cont .port_content .port_showcase .port_box .port_box-label h3:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
    color: var(--clr-primary);
}

.port_cont .port_content .port_showcase .port_box .port_box-label h4 {
    border: 3px solid var(--clr-accent);
    width: 200px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--clr-secondary);
    font-family: var(--ff-IBM);
    color: var(--clr-accent);
    font-size: 18px;
    margin-top: 0;
}

.port_cont .port_content .port_showcase .port_box .port_box-label h4:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
    color: var(--clr-primary);
}

.port_cont .port_content .port_showcase .port_box #box_1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;
}
.port_cont .port_content .port_showcase .port_box #box_2 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
}
.port_cont .port_content .port_showcase .port_box #box_3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 20;
}
.port_cont .port_content .port_showcase .port_box #box_4 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 20;
}
.port_cont .port_content .port_showcase .port_box #box_5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 20;
    grid-row-end: 30;
}
.port_cont .port_content .port_showcase .port_box #box_6 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 20;
    grid-row-end: 30;
}


.port_cont .port_content #port_yt {
    font-family: var(--ff-univers);
    font-size: 30px;
    color: var(--clr-accent);
    margin-bottom: 5rem;
}


.port_cont .port_content .yt_showcase .yt_box {
    display: grid;
    grid-template-columns: repeat (20, 1fr);
    grid-template-rows: repeat (40, 10vw);
    grid-gap: 68px;
}


.port_cont .port_content .yt_showcase .yt_box iframe {
    width: 600px;
    height: 350px;
    object-fit: fill;
    position: relative;
    z-index: 1100;
    transition: transform .2s;
    border: 4px var(--clr-text) solid; 
    border-radius: 10px;
}

.port_cont .port_content .yt_showcase .yt_box iframe:hover {
    transform: scale(1.2);
}


.port_cont .port_content .yt_showcase .yt_box .yt_box-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.port_cont .port_content .yt_showcase .yt_box .yt_box-label h3 {
    border: 3px solid var(--clr-accent);
    width: 440px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--clr-secondary);
    font-family: var(--ff-IBM);
    color: var(--clr-accent);
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.port_cont .port_content .yt_showcase .yt_box .yt_box-label a {
    text-decoration: none;
}

.port_cont .port_content .yt_showcase .yt_box .yt_box-label h3:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
    color: var(--clr-primary);
}

.port_cont .port_content .yt_showcase .yt_box .yt_box-label h4 {
    border: 3px solid var(--clr-accent);
    width: 200px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--clr-secondary);
    font-family: var(--ff-IBM);
    color: var(--clr-accent);
    font-size: 18px;
    margin-top: 0;
}

.port_cont .port_content .yt_showcase .yt_box .yt_box-label h4:hover {
    background: linear-gradient( var(--clr-highlight-3), var(--clr-highlight-2));
    color: var(--clr-primary);
}

.port_cont .port_content .yt_showcase .yt_box #box_1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;
}
.port_cont .port_content .yt_showcase .yt_box #box_2 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
}


.port_cont .port_content #port_photo {
    font-family: var(--ff-univers);
    font-size: 30px;
    color: var(--clr-accent);
    margin-bottom: 5rem;
}

.photo_showcase { 
   display: grid;
   grid-template-columns: repeat(16, 1fr);
   grid-template-rows: repeat(30, 5vw);
   grid-gap: 10px;
   width: 1100px;
   border: 2px red solid;
}

.photo_showcase .gallery_pics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1100;
    border: 3px var(--clr-text) solid;
}

    /*#region Photos */
.photo_showcase #gal_1 { 
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    
}

.photo_showcase #gal_2 { 
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;
}

.photo_showcase #gal_3 { 
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 12;
} 

.photo_showcase #gal_4 { 
    grid-column-start: 11;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 12;
} 

.photo_showcase #gal_5{ 
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 18;
} 

.photo_showcase #gal_6 { 
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 18;
} 

.photo_showcase #gal_7 { 
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 12;
    grid-row-end: 18;
} 

.photo_showcase #gal_8 { 
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 18;
    grid-row-end: 24;
} 

.photo_showcase #gal_9 { 
    grid-column-start: 6;
    grid-column-end: 17;
    grid-row-start: 18;
    grid-row-end: 24;
} 

.photo_showcase #gal_10 { 
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 24;
    grid-row-end: 30;
} 

.photo_showcase #gal_11 { 
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 24;
    grid-row-end: 30;
} 

.photo_showcase #gal_12 { 
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 24;
    grid-row-end: 30;
} 
    /*#endregion Photos */


/*#endregion Portfolio */